<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omni Knows XYZ</title>
    <meta name="description" content="An AI search engine that understands your questions.">
    <meta name="keywords" content="AI, search, engine, omni, understand, questions">
    <meta name="author" content="Haozhe Li">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='img/site.webmanifest') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <header class="header">
            <div style="text-align: center;">
                <!-- <a href="/"><img src="{{ url_for('static', filename='img/android-chrome-512x512.webp') }}"
                        alt="OMNI Search" class="logo" style="width: 70px; height: 70px;"></a> -->
                <h1 class="gradient-title"><a href="#" onclick="startOver()">Omni Knows X.Y.Z.</a></h1>
                <div class="mode-switch">
                    <input type="checkbox" id="mode-toggle" class="mode-toggle">
                    <label for="mode-toggle" class="mode-toggle-label">
                        <span class="mode-label mode-fast">Light</span>
                        <span class="mode-label mode-universal">Omni</span>
                        <span class="slider"></span>
                    </label>
                </div>
                <p class="description-mode" id="description-mode"></p>

            </div>
        </header>

        <div class="search-container">
            <div class="search-wrapper">
                <input id="search-input" type="text" placeholder="Got any questions?" class="search-input" required>
            </div>

            <button id="search-button" class="search-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon-small">
                    <path
                        d="m12 3-1.912 5.813a2 2 0 0 1-1.275 1.275L3 12l5.813 1.912a2 2 0 0 1 1.275 1.275L12 21l1.912-5.813a2 2 0 0 1 1.275-1.275L21 12l-5.813-1.912a2 2 0 0 1-1.275-1.275L12 3Z" />
                    <path d="M5 3v4" />
                    <path d="M19 17v4" />
                    <path d="M3 5h4" />
                    <path d="M17 19h4" />
                </svg>
                <span>Search</span>
            </button>
        </div>

        <div id="suggestions" class="suggestions">
            <!-- Suggested queries will be dynamically inserted here -->
        </div>

        <div id="loading-container" class="loading-container" style="display: none;">
            <div class="progress-bar">
                <div id="progress-fill" class="progress-fill"></div>
            </div>
            <p id="loading-text" class="loading-text"></p>
        </div>

        <div id="result-container" class="result-container" style="display: none;">
            <!-- Search results will be dynamically inserted here -->
        </div>
        <footer class="footer">
            <div class="language-switch">
                <select id="language-select" onchange="switchLanguage(this.value, true)">
                    <option value="en" selected>English</option>
                    <option value="zh">简体中文</option>
                </select>
            </div>
            <p>Copyright <a href="https://haozhe.li">Haozhe Li</a> 2025 at <a href="/">Omni Search</a></p>
        </footer>
    </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='language.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('pre code').forEach(block => {
                hljs.highlightElement(block);
            });
        });
    </script>
</body>

</html>